#board, .palette {
	display: flex;
	flex-direction: column;
	gap: 3px;
}

#board {
	border: 3px solid #ccc;
    padding: 0.6rem;
    border-radius: 1rem;
}

.palette-container {
	scale: 0.66;
}

body {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
    overflow: hidden;
	font-family: "Momo Trust Display", sans-serif;
}

header { 
	z-index: 10;
	display: flex;
	justify-content: space-between;
	align-items: center;
    width: 92cqw;
}
	header a {
		border: 2px solid #a33;
	    color: #a33;
    	padding: 0.5rem 1rem;
    	border-radius: 0.5rem;
    	text-decoration: none;
	}

#score {
	font-size: 48pt;
}

.row {
	display: flex;
	gap: 3px;
}

.cell {
    box-sizing: border-box; 
	background-color: #f8f8f8;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	width: 8cqw;
	aspect-ratio: 1;
}

.cell.red {
	background-color: #a34;
	border: 1px solid #800;
}
.cell.orange {
	background-color: #f84;
	border: 1px solid #e73;
}
.cell.yellow {
	background-color: #ff0;
	border: 1px solid #dd0;
}
.cell.green {
	background-color: #283;
	border: 1px solid #172;
}
.cell.blue {
	background-color: #36c;
	border: 1px solid #25b;
}
.cell.purple {
	background-color: #c6c;
	border: 1px solid #b5b;
}
.cell.black {
	background-color: #343;
	border: 1px solid #232;
}
.cell.grey {
	background-color: #789;
	border: 1px solid #678;
}

#palette {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 3rem;
}

.palette .cell:not(.filled) {
	background-color: transparent;
	border-color: transparent;
}

.palette.dragging {
	opacity: 0;
}

#glass {
	position: absolute;
	inset: 0;
	/*
	border: 2px solid #00c;
	background-color: #46f;
	border-radius: 4px;
	opacity: 0.25;
	*/
}

#glass.hover {
	cursor: pointer;
}

#dragShape {
	position: absolute;
}