body {
    overflow: hidden;
	font-family: "Momo Trust Display", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-transform: lowercase;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

header { 
	z-index: 10;
	display: flex;
	justify-content: space-between;
	align-items: end;
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 0.2rem;
}
	header a {
		border: 2px solid #a33;
	    color: #a33;
    	padding: 0.5rem 1rem;
    	border-radius: 0.5rem;
    	text-decoration: none;
		display: inline-block;
		margin-bottom: 0.4rem;
	}

#score {
	font-size: 48pt;
	width: 100%;
	text-align: right;
}

#board {
	display: flex;
	flex-direction: column;
	gap: 3px;
	border: 2px solid #ccc;
    padding: 0.4rem;
    border-radius: 0.6rem;
}

.row {
	display: flex;
	gap: 3px;
}

.cell {
    box-sizing: border-box; 
	background-color: #f8f8f8;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	width: clamp( 1rem, 8cqw, 2rem );
	aspect-ratio: 1;
}

.cell.red {
	background-color: #a34;
	border: 1px solid #800;
}
.cell.orange {
	background-color: #f84;
	border: 1px solid #e73;
}
.cell.yellow {
	background-color: #ed0;
	border: 1px solid #dc0;
}
.cell.green {
	background-color: #283;
	border: 1px solid #172;
}
.cell.blue {
	background-color: #36c;
	border: 1px solid #25b;
}
.cell.purple {
	background-color: #c6c;
	border: 1px solid #b5b;
}
.cell.black {
	background-color: #343;
	border: 1px solid #232;
}
.cell.grey {
	background-color: #789;
	border: 1px solid #678;
}
.cell.pink {
	background-color: #faa;
	border: 1px solid #e99;
}

.palette-container {
	padding: 1rem 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

#palette {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	width: 120%;
	scale: 0.66;
}	

.palette {
	display: flex;
	flex-direction: column;
	gap: 3px;
}	

.palette .cell:not(.filled) {
	background-color: transparent;
	border-color: transparent;
}

.palette.hover .cell.filled {
	box-shadow: 0px 8px 16px rgba(0,0,0,0.25);
}

.palette.removed .cell.filled {
	background-color: transparent;
}

#glass {
	position: absolute;
	inset: 0;
	/*
	border: 2px solid #00c;
	background-color: #46f;
	border-radius: 4px;
	opacity: 0.25;
	*/
}

#glass.hover {
	cursor: pointer;
}

#dragShape {
	position: absolute;
}